---
import { Icon } from 'astro-icon/components';
---

<div
  class="bg-[rgb(254,254,254)] text-muted text-sm dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <a href="https://example.com/registro-taller" class="flex items-center text-muted hover:underline dark:text-slate-400 font-medium">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-clock mr-2">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M10.5 21h-4.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3" />
      <path d="M16 3v4" />
      <path d="M8 3v4" />
      <path d="M4 11h10" />
      <path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
      <path d="M18 16.5v1.5l.5 .5" />
    </svg>
    Este MIÉRCOLES 9 de octubre a las 6:00 p.m: "Taller para organizaciones de la sociedad civil" en el auditorio del Hotel "Sol de Belén"
  </a>

  <div class="ltr:ml-auto rtl:mr-auto flex gap-2 items-center">
    <a
      target="_blank"
      rel="noopener"
      title="Síguenos en Instagram"
      href="https://www.instagram.com/tu_instagram"
    >
      <Icon name="tabler:brand-instagram" class="w-5 h-5 text-pink-600 inline-block" />
    </a>
    <a
      target="_blank"
      rel="noopener"
      title="Síguenos en Facebook"
      href="https://www.facebook.com/tu_facebook"
    >
      <Icon name="tabler:brand-facebook" class="w-5 h-5 text-blue-600 inline-block" />
    </a>
    <a
      target="_blank"
      rel="noopener"
      title="Síguenos en TikTok"
      href="https://www.tiktok.com/@tu_tiktok"
    >
      <Icon name="tabler:brand-tiktok" class="w-5 h-5 text-white inline-block" />
    </a>
    <a
      target="_blank"
      rel="noopener"
      title="Síguenos en X"
      href="https://twitter.com/tu_x"
    >
      <Icon name="tabler:brand-x" class="w-5 h-5 text-blue-500 inline-block" />
    </a>
  </div>
</div>
