---
import { Icon } from 'astro-icon/components';
---

<!-- Botón de donación -->
<a
  href="https://link.mercadopago.com.pe/fccajamarca"
  class="flex items-center ml-2 bg-accent hover:bg-orange-600 text-white font-semibold py-2 px-4 rounded-md transition-colors duration-200 border-none shadow-none text-sm w-auto"
  target="_blank"
>
  <Icon name="tabler:gift" class="w-5 h-5 mr-2" />
  Dona ahora!
</a>
