---
import { Icon } from 'astro-icon/components';
---

<!-- Botón de donación -->
<a href="https://link.mercadopago.com.pe/capraperusac" class="boton-dona flex items-center ml-2 py-2.5 px-5.5 md:px-6 font-semibold shadow-none text-sm w-auto rounded" target="_blank">
  <Icon name="tabler:gift" class="w-5 h-5 mr-2" />
  Dona ahora!
</a>

<style>
  .boton-dona {
    background-color: #007bff; /* Color del botón */
    color: white;
    transition: background-color 0.3s;
  }

  .boton-dona:hover {
    background-color: #0056b3; /* Color al hacer hover */
  }
</style>