---
import { Icon } from 'astro-icon/components';
---

<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium text-gray-700 dark:text-gray-300">
    <span class="font-bold text-blue-600 dark:text-blue-300">
      <Icon name="tabler:info-circle" class="w-5 h-5 inline-block align-text-bottom text-blue-500 dark:text-blue-200" />
      Nuestra Filosofía:
    </span>
    <span class="text-blue-800 dark:text-blue-400"> Articulación, Transparencia, Sostenibilidad y Compromiso con la Comunidad </span>
  </div>
</section>
