---
import { SITE } from 'astrowind:config';
const logoSrc = '/src/assets/images/logo-fcc.png'; // Asegúrate que este sea el path correcto del logo
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2">
  <img src={logoSrc} alt={SITE?.name} class="h-12" />
  <!-- Aquí cargamos el logo de la FCC -->
</span>
