---
import { SITE } from 'astrowind:config';
// Rutas de los logos para modo claro (color) y modo oscuro (blanco)
const logoColorSrc = '/images/logo-fcc-color.png';
const logoWhiteSrc = '/images/logo-fcc.png';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2">
  <img
    src={logoColorSrc}
    alt={SITE?.name || 'Logo de la Fundación Comunitaria Cajamarca'}
    class="h-12 w-auto block dark:hidden"
  />
  <img
    src={logoWhiteSrc}
    alt={SITE?.name || 'Logo de la Fundación Comunitaria Cajamarca'}
    class="h-12 w-auto hidden dark:block"
  />
</span>